{% extends "index.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "css/anime.css" %}">
{% endblock css %}

{% block body %}
<div class="animeCard">
    <div class="bannerContainer">
    {% if anime.bannerImage %}
    <img src="{{ anime.bannerImage }}">
    {% endif %}
        <div class="titleContainer">
            {% if anime.title.english %}
            <h1 id="english">{{ anime.title.english }}</h1>
            {% endif %}
            {% if anime.title.romaji %}
            <h1 id="romaji">{{ anime.title.romaji }}</h1>
            {% endif %}
        </div>
    </div>
    <main>
        <img id="coverImage" src="{{ anime.coverImage.extraLarge }}" style="background: {{ anime.coverImage.color }}">
        <div id="dataContainer">
            <div id="descriptionContainer">
                {{ anime.description|striptags|linebreaks }}
            </div>

            <div class="horizontal"> 
                <p id="episodes">Episodes: {{ anime.episodes }}</p>
                <p id="duration" data-duration="{{ anime.duration }}">Episode duration: {{ anime.duration }} minutes</p>
                <p id="format">Format: {{ anime.format }}</p>
                <p>Status: {{ anime.status|title }}</p>
                {% if anime.isAdult == False %}
                <p class="adult">Adult</p>
                {% endif %}
                <p>Source type: {{ anime.source }}</p>
    
            </div>

            <div class="horizontal">
                <p id="averageScore" data-average-score="{{ anime.averageScore }}">Average score: {{ anime.averageScore }}</p>
                <p id="meanScore" data-average-score="{{ anime.meanScore }}">Mean score: {{ anime.meanScore }}</p>
            </div>

            <h2>Genres</h2>
            <div id="genres">
                <ul>
                    {% for genre in anime.genres %}
                    <li class="tag">{{ genre }}</li>
                    {% endfor %}
                </ul>
            </div>
            
            <h2>Tags</h2>
            <div id="tags">
                <ul>
                    {% for tag in anime.tags %}
                    <li class="tag" data-tag-general-spoiler="{{tag.isGeneralSpoiler}}" data-tag-media-spoiler="{{tag.isMediaSpoiler}}">{{ tag.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>
</div>
{% endblock body %}