{% extends "index.html" %}
{% load static %}
{% load utility_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "css/sessions.css" %}">
{% endblock css %}

{% block body %}
{% for session in sessions %}
<div class="session">
    <div class="session-header">
        <h2>Session #{{ session.id }}</h2>
        <p>{{ session.date|date }}</p>
        <form action="{% url 'delete_session' session.id %}" method="post">
            {% csrf_token %}
            <button type="submit" onclick="return confirm('Are you sure?')">Delete</button>
        </form>
    </div>
    <div class="session-body">
        <table>
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Status</th>
                    <th scope="col">Notes</th>
                </tr>
            </thead>
            <tbody>
            {% for show in session.shown_anime.all %}
            {% with info=show|session_info:session.id %}
                <tr class="show">
                    <th scope="row"> 
                        <form action="{% url 'remove_anime_from_session' session.id info.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" onclick="return confirm('Are you sure?')">Delete</button>
                        </form>
                        <a href="https://anilist.co/anime/{{show.anilist_id}}">{{ show.title_en }}</a>
                    </th>
                    <td>{{ info.owner.username }}</td>
                    <td>{{ info.status }}</td>
                    <td>{{ info.notes }}</td>
                </tr>
            {% endwith %}
            {% endfor %}
            </tbody>
        </table>
        {% if True %}
        <div class="show">
            <form action="{% url 'add_anime_to_session' session.id %}" method="post">
                {% csrf_token %}
                <input type="text" name="title" placeholder="Title">
                <input type="text" name="owner" placeholder="Owner">
                <input type="text" name="status" placeholder="Status">
                <input type="text" name="notes" placeholder="Notes">
                <button type="submit">Add Show</button>
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}
<!--New sessions-->
<div class="session-footer">
    <form action="{% url 'add_session' %}" method="post">
        {% csrf_token %}
        <button type="submit">New Session</button>
    </form>
</div>
{% endblock body %}