body {
    background-color: rgb(11, 22, 34);
    color: white;
    font-family: arial;
}

header {
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 1rem;
}

a {
    color: rgb(108, 147, 255);
}
a:visited {
    color: rgb(108, 147, 255);
}